.App {
  text-align: center;
}

.GoalItem {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
}

.GoalItem__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GoalItem__header__title {
  font-weight: bold;
}